.App {
  text-align: center;
}

.models-center-content {
  justify-content: center;
  padding-top: 5rem;
  display: flex;
}

.models-resize-team-logo {
  height: 3rem;
  width: 3rem;
}

.models-table {
  padding: 2rem 3rem 0rem 3rem;
  font: Trebuchet;
}

.models-header {
  background-color: #e6e6e6;
  font: Trebuchet;
  font-size: 2.5rem;
}

.models-instance {
  font: Trebuchet;
  font-size: 1.2rem;
}

.models-instance .button {
  font: Trebuchet;
  font-size: 1.2rem;
}

.models-list-end {
  padding-bottom: 2.5rem;
}

.models-center-list-group {
  padding: 2rem 2rem 3rem 2rem;
}

.models-center-list-group .list-group-item {
  min-width: 50%;
}

.models-clickable {
  cursor: pointer;
}

.models-page-ends .sr-only {
  display: none;
}

.models-page-item .page-link {
  padding: 0.375rem 2rem !important;
}

.models-page-ends .page-link {
  padding: 0.375rem 2.25rem !important;
}

.models-center-pagination {
  justify-content: center;
  display: flex;
  padding-top: 1.5rem;
  padding-bottom: 3rem;
}

.models-title {
  font-size: 2rem;
  font-family: Inter;
  font-weight: bold;
}

.models-loader {
  padding-top: 15rem;
  justify-content: center;
  display: flex;
}

.models-radar {
  max-height: 25rem;
}

.models-center-radar {
  justify-content: center;
  padding-top: 2rem;
  display: flex;
  padding-bottom: 4rem;
}

.models-center-radar-header {
  justify-content: center;
  display: flex;
}

.models-pad-for-nav {
  padding-top: 5rem;
}

.search-bar {
  justify-content: left;
  display: flex;
  padding: 1rem 2rem 1rem 2rem;
  outline: none;
  font-family: Trebuchet;
  font-size: 1.5rem;
}

input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
}

input:focus {
  outline:none;
}

.dropdowns {
  justify-content: center;
  margin-top: 1.5rem;
  display:flex;
}

.models-center-space-evenly {
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 2rem 0 2rem 0;
}

.search-button {
  max-height: 2rem;
}

.search-button-wrapper {
  padding: 0 2rem 0 0;
}

.search-header {
  background-color: #e6e6e6;
  font: Trebuchet;
  font-size: 2.5rem;
  justify-content: center;
  display: flex;
  padding-bottom: 1rem;
  padding-top: 1.5rem;
}

.search-not-found {
  color: darkgray;
  font-size: 1rem;
  justify-content: center;
  display: flex;
}

.search-center-space-evenly {
  justify-content: center;
  display: flex;
  align-items: center;
  padding-bottom: 2rem;
  padding-top: 5rem;
}

.search-main {
  padding-top: 3rem;
  padding-bottom: 5rem;
}

.search-field {
  min-width: 15rem !important;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.models-listgroup-inline {
  display: inline-block;
  justify-content: space-evenly;
}

.models-instance-bottom {
  justify-content: space-evenly;
  display: flex;
}