.Heading{
    text-align: center;
    padding-top: 2rem;
}

.TitleOne {
    font-size: 3rem;
    font-family: "Inter";
    font-weight: 800;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.TitleTwo {
    font-size: 1.5rem;
    font-family: "Inter";
    margin-bottom: 2rem;
}

.Text {
    font-size: 1.2rem;
    font-family: "Inter";
    text-align: left;
    margin-bottom: 1.5rem;
    margin-left: 5rem;
    margin-right:5rem;
}

.Topic {
    font-weight: bold;
    padding: 1rem 2rem 0 2rem;
}

.Body {
    padding-left: 2rem;
    padding-right: 2rem;
}

.Bioname {
    text-align: left;
    font-size: 1.75rem;
    font-family: "Inter";
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-left: 5rem;
    margin-right:5rem;
}

.Biopic {
    margin-bottom: 1rem;
    height: 18.75rem;
    margin-left: 5rem;
}

.HeaderPicture {
    padding-bottom: 3rem;
    height: 22rem;
    border-radius: 0.35rem !important;
}

.BodyPicture {
    padding-bottom: 3rem;
    height: 32rem;
}

.CenterContent {
    justify-content: center;
    display: flex;
}

.AboutCard {
    min-width: 20rem !important;
    width: 20rem;
    text-align: center;
    cursor: pointer;
    margin: 1rem;
}

.CardImageTeam {
    height: 20rem
}

.CardImageTool {
    height: 10rem
}

.CardBody {
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

.CardStats {
    padding-bottom: 0.25rem;
}

.CardTitle {
    padding-top: 0.5rem;
    font-size: 1.6rem;
}

.CardContainerAbout {
    max-width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 2rem;
}
.CardContainer2About {
    max-width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 17rem;
    padding-right: 16rem;
    padding-bottom: 2rem;
}

.CardHover {
    background-color: #f0f0f0;
}