.Title {
    position: absolute;
    color: white;
    font-size: 8em;
    font: "Inter";
    font-weight: 800;
    top: 9rem;
    left: 15rem;
    text-align: center;
    text-shadow: #5e3096 1px 0 10px;
}

.Slogan {
    position: absolute;
    color: #5e3096;
    font-size: 2em;
    font: "Inter";
    font-weight: 800;
    top: 20rem;
    left: 20rem;
    text-align: center;
    text-shadow: white 1px 0 5px;
}

.Wrapper {
    overflow-x: hidden;
}

.Banner {
    background-size: cover;
    width: 100vw;
    height: 70vh;
}

.Caption {
    font-family: "Inter";
    font-size: 1.5rem;
    margin-bottom: 5rem;
}

.Icon {
    margin-bottom:1rem;
    height: 12rem;
    width: 12rem;
}

.IntroText {
    font-size: 3rem;
    font-family: "Inter";
    font-weight: bolder;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem 1rem 0rem 1rem;
    justify-content: center;
}

.IntroTextColor {
    color: #7b5aa3;
}

.SubheaderText {
    font-size: 1.2rem;
    font-family: "Inter";
    margin-top: 1rem;
    padding: 0 4rem 0 4rem;
    color: #717572;
}

.Card {
    width: 26rem;
    min-width: 26rem !important;
    text-align: center;
    cursor: pointer;
}

.CardImage {
    height: 20rem
}

.CardBody {
    padding-top: 0.5rem;
    padding-bottom: 1.5rem;
}

.CardTitle {
    padding-top: 0.5rem;
    font-size: 1.6rem;
}

.CardContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 6rem;
}

.CardHover {
    background-color: #f0f0f0;
}

.paper {
    min-width: 40%;
}